<h1>New movie</h1>

<div style="color: green;">
  <%= notice %>
</div>

<div style="color: red;">
  <%= alert %>
</div>

<% @movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<!--For create, add the data: {turbo: false}. The default method is "post"-->
<%= form_with(model: @movie, data: {turbo: false}) do |form| %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description, rows: 3 %>
  </div>

  <%= form.button %>

<% end %> 
